.stock-name {
    text-align: left;
}
.stock-long-name, .percent-change, .market-price {
    font-size: larger;
    font-weight: medium;
}

.percent-change, .market-price, .market-cap {
    text-align: right;
    padding-right: 15px;
}

.stock-ticker {
    font-size: medium;
    color: rgb(93, 91, 90);
}