table {
    box-shadow: 5px 10px;
    width: 100%;
    padding: 20px;
}


.name-header {
    width: 300px;
    text-align: left;
}

.line-header {
    width: 100px;
}

.price-header {
    width: 100px;
}

.market-cap-header {
    width: 200px;
}

.percent-change-header {
    width: 100px;
}
   